.details-container {
  // @apply bg-neutral-900 p-4 rounded border border-gray-600; 
  .details-trigger {
    @apply flex flex-col justify-start text-start items-start w-full    cursor-pointer;
  }
 
  .details-arrow {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(180deg);
  }

  .details-content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .details-list {
    overflow: hidden;
    padding-left: 1rem;
    // background-image: linear-gradient(to bottom, #d1d5db 50%, transparent 50%);
    background-size: 4px 12px;
    background-repeat: repeat-y;
    background-position: left center;

    @apply flex gap-3 opacity-0 transition-opacity duration-300;  
  }

  .details-item {
    @apply text-gray-300 flex items-center gap-2;
  }

  .details-symbol {
    @apply text-gray-500;
  }

 
  &.is-active {
 
    > .details-trigger .details-arrow {
      transform: rotate(0deg);
    }

 
    > .details-content-wrapper {
      grid-template-rows: 1fr;
    }

 
    > .details-content-wrapper > .details-list {
      @apply pt-4;
      @apply opacity-100;
    }
  }
}
