*,
body {
  font-family: 'Comfortaa', sans-serif;
  background: #232526;
  /* background: -webkit-linear-gradient(to top, #2f2f2f, #232526); */
  /* background: linear-gradient(to top, #2f2f2f, #232526); */
  /* background: linear-gradient(to top, #2f2f2f, #232526); */
  color: white;
  /* min-height: 100vh;   */
}
